h1{
    font-size : 2em;
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
    color : hsl(240, 11%, 98%);
    text-align : center;
    margin-top : 25px;
    background-color: rgb(145, 52, 52);
    border-radius: 10px;
}

.news-image{
    width : 100%;
    aspect-ratio : 16/5.5;
    border : 1px solid rgba(96, 86, 86, 0.074);
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 25px;
    display : inline-block;
    justify-content : center;
    }
   
    .search-input{
        min-width : 90px;
        margin : 20px;
        margin-left : 30%;
        border : 1px black solid;
        border-radius : 5px;
        padding : 5px 30px;
        align-items : center;
        margin-bottom: 25px;
        display : inline-block;
        justify-content : center;
        
        
    }
    .search-btn{
       padding: 5px 14px;
       min-width: 90px;
       text-align: center;
       border: none;
       border-radius: 6px;
       background-color: hsl(200, 67%, 46%);
       color: white;
       font-size: clamp(0.75rem, 1.2vw, 1rem);
       cursor: pointer;
       transition: background-color 0.3s ease;
       
    
    }
    .search-btn:hover{
        background-color : hsl(200, 94%, 49%);
        
    }
    .search-btn:active{
        background-color : hsl(200, 94%, 49%);
        transform : scale(0.95);
    }
    
  
 .category-btn{
    min-width : 50px;
    padding : 5px 20px;
    margin : 10px;
    margin-left: 5%;
    border : none;
    border-radius : 5px;
    background-color : hsl(200, 67%, 46%);
    color : white;
    font-size :clamp(0.75rem, 1.2vw, 1rem);
    cursor : pointer;
    display : inline-block;
    justify-content: center;
    align-items: center;
    transition : background-color 0.3s ease;
   

 }


.category-btn:hover{
    background-color : hsl(200, 94%, 49%);
}
.category-btn:active{
    background-color : hsl(200, 94%, 49%);
    transform : scale(0.95);
    
}   

.news-headline{
    font-size : 1.5em;
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
    color : hsl(200, 25%, 5%);
    margin-top : 0px;
    margin-left :3px;
}
.read-more{
    display : inline-block;
    margin-top : 0px;
    text-decoration : underline;
    transition : background-color 0.3s ease;
    margin-left :3px;
}
.news-description{
    font-size : 0.8em;
    font-family : Arial, Helvetica, sans-serif;
    color : hsla(200, 23%, 5%, 0.451);
    margin-left :3px;
}
